/* 

COLOUR PALETTE

Dark Blue Grey  #263238
Off White       #eceff1
Anchor Tags     #00acc1

There are no hover or focus states for links.

ADDITIONAL STYLES FOR ARTICLES

border: 1px solid #b0bec5;
box-shadow: 2px 2px 5px #b0bec5;

*/

/* Universal Styles */

 /* Styling root for easy reuse */
:root {
 --color-dark-blue-grey: #263238;
 --color-off-white: #eceff1;
 --color-anchor-tags: #00acc1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-dark-blue-grey);
    background-color: var(--color-off-white);
    margin: 3rem;
}

/* Styling Typography */
h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

p {
    font-size: 0.75rem;
    margin: 1rem;
}

a {
    font-size: 0.75rem;
    font-weight: bold; 
    color: var(--color-anchor-tags);
    margin: 1rem;
}

/* Main Content */
/* Styling all articles */
article {
    border: 1px solid #b0bec5;
    box-shadow: 2px 2px 5px #b0bec5;
    padding: 1rem;
    margin: 1rem;
}

article img {
}

img {
    
}

/* Styling footer */
footer {
    font-size: 0.825em;
    text-align: center;
}
footer h2 {
    font-weight: bold;
}

/* Media Queries */
