/* 

COLOUR PALETTE

Dark Blue Grey  #263238
Off White       #eceff1
Anchor Tags     #00acc1

There are no hover or focus states for links.

ADDITIONAL STYLES FOR ARTICLES

border: 1px solid #b0bec5;
box-shadow: 2px 2px 5px #b0bec5;

*/

/* Universal Styles */

 /* Styling root for easy reuse */
:root {
 --color-dark-blue-grey: #263238;
 --color-off-white: #eceff1;
 --color-anchor-tags: #00acc1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-dark-blue-grey);
    background-color: var(--color-off-white);
    margin: 3rem;
}

/* Styling Typography */
h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    margin: 1rem;
}

a {
    font-size: 0.75rem;
    font-weight: bold; 
    color: var(--color-anchor-tags);
    margin: 1rem;
    margin-bottom: 1rem;
}

/* Main Content */
/* Styling all articles */
article {
    border: 1px solid #b0bec5;
    box-shadow: 2px 2px 5px #b0bec5;
    margin: 0.5rem;
}

/* Styling footer */
footer {
    text-align: center;
    margin-top: 1rem;
}

footer h2 {
    font-size: 0.5rem;
    font-weight: bold;
    padding: unset;
    margin: unset;
}

footer p {
    font-size: 0.5rem;
    padding: unset;
    margin: unset;
}


/* Styling mobile first... */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container article {
/* Styling with 2 columns for all except the 1st */
    flex: 1 1 calc((100% / 2) - (2rem - 1));
}

.flex-container article:first-child {
    flex: 1 1 100%;
}

/* Media Queries */
/**Media Query for medium-sized screens or higher*/
/*  
@media screen and (min-width: 640px){ 