/* 

COLOUR PALETTE

Dark Blue Grey  #263238
Off White       #eceff1
Anchor Tags     #00acc1

There are no hover or focus states for links.

ADDITIONAL STYLES FOR ARTICLES

border: 1px solid #b0bec5;
box-shadow: 2px 2px 5px #b0bec5;

*/

/* Universal Styles */

 /* Styling root for easy reuse */
:root {
 --color-dark-blue-grey: #263238;
 --color-off-white: #eceff1;
 --color-anchor-tags: #00acc1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-dark-blue-grey);
    background-color: var(--color-off-white);
    margin: 3rem;
}

/* Styling Typography */
h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    margin: 1rem;
}

a {
    font-size: 0.75rem;
    font-weight: bold; 
    color: var(--color-anchor-tags);
    margin: 1rem;
    margin-bottom: 1rem;
}

/* Main Content */
/* Styling all articles */
article {
    border: 1px solid #b0bec5;
    box-shadow: 2px 2px 5px #b0bec5;
}

/* Styling footer */
footer {
    text-align: center;
    margin-top: 1rem;
}

footer h2 {
    font-size: 0.5rem;
    font-weight: bold;
    padding: unset;
    margin: unset;
}

footer p {
    font-size: 0.5rem;
    padding: unset;
    margin: unset;
}

/* Styling mobile first... */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* First article is full width  */
.flex-container article:first-child {
    width: 100%; 
}

.flex-container article {
/* Styling with 2 columns for all except the 1st */
    width: calc((100% / 2) - 1rem);
}

/* Media Queries */
/**Styling for medium-size screen*/
@media screen and (min-width: 600px) {
    /* First article is full width  */
    .flex-container > article:first-child {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .flex-container > article:nth-child(1) img,
    .flex-container > article:nth-child(1) .card-copy {
        width: 50%
    }    

    /* 2nd-3rd articles are 50% width with gap*/
    .flex-container > article:nth-child(2),
    .flex-container > article:nth-child(3) {
        width: 50% - 1rem;
    }
   
    /* 4th-8th articles are 33% with gap*/
    .flex-container > article:nth-child(4),
    .flex-container > article:nth-child(5),
    .flex-container > article:nth-child(6),
    .flex-container > article:nth-child(7),
    .flex-container > article:nth-child(8),
    .flex-container > article:nth-child(9) {
        width: calc((100% / 3) - 1rem);
    }
}

/**Media Query for larger screens*/
@media screen and (min-width: 900px) {
    /* First article is full width  */
    .flex-container > article:first-child {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    /* The rest of the articles: four-column grid */
    .flex-container > article:nth-child(2),
    .flex-container > article:nth-child(3),
    .flex-container > article:nth-child(4),
    .flex-container > article:nth-child(5),
    .flex-container > article:nth-child(6),
    .flex-container > article:nth-child(7),
    .flex-container > article:nth-child(8),
    .flex-container > article:nth-child(9) {
        width: calc((100% / 4) - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    /* First article is full width  */
    .flex-container > article:first-child {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    /* The rest of the articles: four-column grid */
    .flex-container > article:nth-child(2),
    .flex-container > article:nth-child(3),
    .flex-container > article:nth-child(4),
    .flex-container > article:nth-child(5),
    .flex-container > article:nth-child(6),
    .flex-container > article:nth-child(7),
    .flex-container > article:nth-child(8),
    .flex-container > article:nth-child(9) {
        width: calc((100% / 4) - 1rem);
    }
}